.SobreSecaoFormacao{
    background-image: linear-gradient(#222222, #2C2C2C);
    color: white;
    padding: 0.1px;
}

.FormacaoTitulo{
    width: fit-content;
    margin: 4rem auto;
    font-weight: 300;
    font-size: 2.5rem;
    max-width: 70vw;
    text-align: center;
}
.FormacaoCard{
    background-color: #9e9e9e4a;
    width: 70vw;
    border-radius: 1rem;
    margin: 10rem auto;
    padding-bottom: 2rem;
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.313);
    color: white;
}

.FormacaoCardIcone{
    font-size: 3rem;
    background-image: linear-gradient(#FF5252, #DC2727);
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10rem;
    position: relative;
    top: -3rem;
}
.FormacaoCardTitulo{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    /* color: white; */
}

.FormacaoAcademicaTituloGraduacao{
    /* background-color: red; */
    text-align: center;
    font-weight: 300;
    font-size: 1.1rem;
}
.FormacaoAcademicaGraduacaoDesc{
    list-style-type: none;
    /* margin: 2rem 0; */
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    padding: 0;
}
.FormacaoAcademicaGraduacaoDesc li{
    margin: 1rem 0;
    font-size: 0.9rem;
    font-weight: 300;
}
.FormacaoAcademicaGraduacaoIcone{
    margin-right: 1rem;
}

.ExperienciaLista{
    list-style-type: none;
    /* margin: 1rem 0; */
    padding: 0;
}
.ExperienciaTitulo{
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}
.ExperienciaTempo{
    width: fit-content;
    margin: 1rem auto;
    font-weight: 300;
}
.ExperienciaTempoIcone{
    margin-right: 0.5rem;
}

.CursoTitulo, .CursoPlataforma{
    text-align: center;
    font-size: 1rem;
}
.CursoTitulo{
    font-weight: 400;
}
.CursoPlataforma{
    font-weight: 200;
}
.CursoLink{
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.Idioma{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-top: 2rem;
}
.Idioma h4{
    font-size: 1rem;
    font-weight: 400;
}
.IconeIdioma{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.Nativo{
    color: rgb(251, 97, 80);
}
.Fluente{
    color: rgb(104, 171, 223);
}

@media (min-width: 447px) {
    .FormacaoCard{
        width: 60vw;
    }
}
@media (min-width: 576px) {
    .FormacaoArea{
        display: flex;
        flex-wrap: wrap;
    }
    .FormacaoCard{
        width: 45vw;
        height: fit-content;
    }
}
@media (min-width: 992px) {
    .FormacaoCard{
        width: 30vw;
        height: fit-content;
    }
}
@media (min-width: 1200px) {
    .FormacaoCard{
        width: 20vw;
        height: fit-content;
    }
}