/* .ChamadaContatoSection{
    background-color: rgb(72, 6, 148);
    color: white;
    padding: 1rem;
}

.ChamadaContatoTexto1, .ChamadaContatoTexto2, .ChamadaContatoBotao{
    width: fit-content;
    text-align: center;
    margin: auto;
    display: block;
}
.ChamadaContatoTexto1, .ChamadaContatoTexto2{
    margin: 2rem auto;
}

.ChamadaContatoTexto1{
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 2rem;
    border-bottom: 1px solid white;
}
.ChamadaContatoTexto2{
    font-size: 1.5rem;
    margin: 2rem auto;
    margin-bottom: 4rem;
    font-weight: 900;
}
.ChamadaContatoBotao{
    margin: 2rem auto;
    font-size: 1.5rem;
    width: 70vw;
} */


