.HomeSobreSecao{
    background-image: linear-gradient(#393939, #040404);
    color: white;
    padding: 2vh 1rem;
    position: relative;
}

.SobreCol{
    /* background-color: red; */
}

.MinhaFoto{
    width: 55vw;
    height: 55vw;
    background-color: grey;
    margin: 7vh auto;
    border-radius: 30rem;
}

@keyframes HomeSobreTitulo {
    0% {color: rgba(0, 0, 0, 0); top: 5rem;}
    100% {color: rgba(255, 255, 255, 1); top: 0;}
}
@keyframes HomeSobreDesc {
    0% {color: rgba(0, 0, 0, 0); top: 5rem;}
    50% {color: rgba(0, 0, 0, 0); top: 5rem;}
    100% {color: rgba(255, 255, 255, 1); top: 0;}
}
@keyframes HomeSobrePalavraFullstack {
    0% {color: rgba(0, 0, 0, 0);}
    50% {color: rgba(0, 0, 0, 0);}
    100% {color: #FF4646;}
}

.HomeSobreTitulo{
    /* background-color: green; */
    width: fit-content;
    font-size: 2.3rem;
    position: relative;
    margin: auto;
    margin-top: 5vh;
    /* padding-bottom: 1rem; */
    text-align: center;
    font-weight: 700 !important;
    animation-name: HomeSobreTitulo;
    animation-duration: 2s;
}
.HomeSobreArea{
    margin-bottom: 6rem;
}

.HomeSobreDescricao{
    margin: 2vh auto;
    margin-bottom: 7vh;
    position: relative;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 300;
    width: 60vw;
    animation-name: HomeSobreDesc;
    animation-duration: 2s;
    /* background-color: blue; */
}
.HomeSobrePalavraFullstack{
    font-weight: 700;
    color: #FF4646;
    animation-name: HomeSobrePalavraFullstack;
    animation-duration: 2s;
}
.HomeSobrePalavraJavascript{
    color: rgb(238, 183, 2);
}
.HomeSobreButtonProjetos{
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid white;
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: 0.7rem 1.3rem;
    display: block;
    width: fit-content;
    margin: 0.7rem auto;
    margin-bottom: 2rem;
    
}

@media (min-width: 520px) {
    .HomeSobreArea{
        margin-top: 15vh;
    }
    .MinhaFoto{
        width: 25vw;
        height: 25vw;
    }
    .HomeSobreTitulo{
        font-size: 1.9rem;
    }
    .HomeSobreDescricao{
        margin-bottom: 3vh;
        font-size: 1.3rem;
    }
    .HomeSobreButtonProjetos{
        font-size: 1rem;
    }
}
@media (min-width: 745px){
    .HomeSobreTitulo{
        /* font-size: 2rem; */
        width: 60vw;
        /* background-color: red; */
    }
    .HomeSobreDescricao{
        width: 40vw;
        font-size: 1.5rem;
        /* background-color: blue; */
    }
}
@media (min-width: 867px){
    .HomeSobreSecao{
        padding: 2vh 3vw;
    }
    .MinhaFoto{
        width: 20vw;
        height: 20vw;
    }
    .HomeSobreTitulo{
        font-size: 2.2rem;
    }
    .HomeSobreDescricao{
        font-size: 1.6rem;
        width: 30vw;
    }

}
@media (min-width: 1040px) {
    .MinhaFoto{
        width: 22vw;
        height: 22vw;
        margin-left: 7vw;
    }
    .HomeSobreTitulo{
        font-size: 2.4rem;
    }
    .HomeSobreDescricao{
        font-size: 1.8rem;
        width: 27vw;
    }
    .HomeSobreButtonProjetos{
        font-size: 1.4rem;
        margin-top: 6vh;
    }
}
@media (min-width: 1228px) {
    .HomeSobreButtonProjetos{
        margin-top: 8vh;
    }
}
/* @media (min-width: 600px) {
    .HomeSobreButtonProjetos{
        font-size: 1.2rem;
    }
}
@media (min-width: 675px){
    .HomeSobreButtonProjetos{
        position: relative;
        margin-top: 0;
    }
    .HomeSobreDescricao{
        margin-top: 5rem;
    }
}
@media (min-width: 702px) {
    .HomeSobreDescricao{
        font-size: 2rem;
    }
}
@media (min-width: 870px){
    .HomeSobreTitulo{
        font-size: 4rem;
        margin-top: 2rem;
    }
    .HomeSobreButtonProjetos{
        margin-top: 5rem;
    }
}
@media (min-width: 1013px) {
    .HomeSobreDescricao{
        font-size: 3rem;
    }
    .HomeSobreButtonProjetos{
        margin-top: 7rem;
        font-size: 2rem;
    }
} */