main{
  /*background-color: blue;*/
  margin-top: 0px;
  /* margin: 2rem 0; */
  position: relative;
  min-height: 100vh;
}
section{
  /*background-color: orange;*/
  width: 100vw;
}
.HomeDescricaoSection{
  padding: 70px 0px;
  padding-top: 150px;
}