/* footer{
  background-color: #1D1D1D;
  border-top: 1px solid white;
  position: relative;
  bottom: 0;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  margin-top: 7rem;
}
.LinkContatoColor{
  color: white;
} */

/* footer{
  background-color: black;
  color: white;
  padding-top: 0.2rem;
  position: relative;
  bottom: 0;
}

h3{
  margin: 0px;
  width: fit-content;
}

.FooterRedes, .FooterContato{
  display: flex;
}

.FooterRedes, .FooterContato, .FooterCreditos{
  margin: 0.5rem 0;
}

.TextoCreditos{
  width: 90vw;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
  border-top: 1px solid white;
  font-size: 0.9rem;
}

.Link{
  text-decoration: none;
  color: white;
}

.FooterTitulo{
  margin: 0.7rem 1rem;
  width: 40vw;
  font-size: 1rem;
  text-align: right;
}

.FooterLinkArea{
  width: 50vw;
  margin: 0.7rem 5vw;
  font-size: 0.9rem;
}

.FooterLinkContato{
  display: inline;
  vertical-align: middle; 
}

.FooterRedesIcones span{
  margin-right: 0.7rem  ;
  font-size: 1rem;
} */

footer{
  background-color: #000000;
  color: white;
  padding: 2rem;
}

.FooterBox{
  margin: 4rem 0;
}

.FooterTitulo{
  font-size: 1.7rem;
}
.FooterLink{
  display: block;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.FooterSiteLinks, .FooterRedesLinks{
  margin-top: 1rem;
}
.FooterSiteLink{
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.FooterRedesLinks{
  display: flex;
}
.FooterRedeLink{
  font-size: 1.3rem;
  margin-right: 1rem;
}

.TextoCreditos{
  font-size: 1.1rem;
}
